@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
  box-sizing: flex-box;
}

.App {
  height: 100vh;
  background-color: #000000;

  overflow: scroll;
  text-align: center;
}

.container {
  background: url("https://cdn.discordapp.com/attachments/960987007893508186/997825252761534574/Debutante_BG_2.jpg");
  background-size: cover;

}

.header-container {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  height: 1000px;
  width: 100%;
  margin-top: 0px;

}

.header {
  font-size: 55px;
  font-weight: 300;
  font-family: 'Arial';
  height: 150px;
}

.bg-container {
  background: #000000 url("https://cdn.discordapp.com/attachments/960987007893508186/997825252761534574/Debutante_BG_2.jpg") no-repeat fixed 50px 50px;
  background-size: cover;
  padding-left: 0%; 
  padding-right: 0%;
  padding-top: 3%;
  padding-bottom: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 0%;
  margin-bottom: 0%;
  border-top-width: 0%;
  height: 100%;
  width: 100%;
}

.gradient-text {
  overflow-wrap: break-word;
  max-width: 100%;
  margin-top: 55px;
  margin-bottom: 10px;
  display: inline-block;
  font-family: 'Arial';
  font-style: normal;
  color:#ffffff;
  font-size: 65px;
  font-weight: 700;
}

.gradient-text1 {
  font-size: 65px;
  font-weight: 700;
  font-family: 'Arial';
  color: #ffffff;
  margin-top: 65px;
}

.gradient-text2 {
  font-size: 65px;
  font-weight: 700;
  font-family: 'Arial';
  color: #ffffff;
}

.gradient-text3 {
  font-size: 65px;
  font-weight: 700;
  font-family: 'Arial';
  color: #ffffff;
}

.gradient-text4 {
  font-size: 65px;
  font-weight: 700;
  font-family: 'Arial';
  font-style: oblique;
  color: #ffffff;
}

.about {
  padding-left: 25%;
  padding-right: 25%;
  font-family: 'Arial';
  display: center;
  font-style: normal;
  font-size: 25px;
  font-weight: 650;
  color: #ffffff;

}

.cta-button {
  height: 45px;
  border: 0;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: auto;
  margin-left: auto;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #fcb900, #000000);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-right: 10px;
  padding-left: 10px;
}

.connect-wallet-button:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.wallet-address-title {
  font-size: 16px;
  color: rgb(255, 255, 255);
  display: block;
  padding-left: 10px;
  padding-right: 20px;
  padding-top: 15px;
}

.wallet-address-text {
  background: -webkit-linear-gradient(left, #fcb900, #000000);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 50px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
}

.wallet-address-text:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.wallet-checkmark {
  color: rgb(3, 148, 3);
  display: block;
}

.success-message {
  font-size: 16px;
}

.success-message-color {
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.925);
  font-weight: 400;
  border-radius: 5px;
  padding: 0.7px;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.mint-button {
  background: -webkit-linear-gradient(left, #fcb900, #000000);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-right: 10px;
  padding-left: 10px;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.mint-button:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.opensea-button {
  background: -webkit-linear-gradient(right, #fcb900, #000000);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-right: 10px;
  padding-left: 10px;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.opensea-button:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.dapwebsite-button {
  background: -webkit-linear-gradient(left, #fcb900, #000000);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 170px;
  padding-right: 10px;
  padding-left: 10px;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.dapwebsite-button:hover {
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.copy-action {
  cursor: pointer;
}

.nft-gif {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 95%;
  max-height: 75%;
  margin-top: 0px;
  border-radius: 18px;
  box-shadow: 0 10px 10px rgb(0, 0, 0);
}

.openSea-link {
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.openSea-link:hover {
  color: #2b73e0;
  background-size: 105% 100%;
  transition-duration: 0.9s;
  transform: translate(5px) rotate(-2deg);
  transition: all 0.4s ease-in;
}

.etherScan-link {
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.etherScan-link:hover {
  color: #2b73e0;
  background-size: 105% 100%;
  transition-duration: 0.9s;
  transform: translate(5px) rotate(-2deg);
  transition: all 0.4s ease-in;
}

.mint-count {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 35px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 180px;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: rgb(255, 0, 0);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header {
    font-size: 40px;
  }
  .gradient-text4 {
    font-size: 60px;
  }
  .gradient-text3 {
    font-size: 50px;
  }
  .gradient-text2 {
    font-size: 50px;
  }
  .gradient-text1 {
    font-size: 50px;
  }
  .gradient-text {
    font-size: 50px;
  }

  .bg-container {
    width: 150%;
    margin-right: -40%;
    margin-left: -23%;
  }
  .footer-text {
    font-size: 10px;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* .header {
    font-size: 25px;
  }
  .gradient-text4 {
    font-size: 40px;
  }
  .gradient-text3 {
    font-size: 25px;
  }
  .gradient-text2 {
    font-size: 25px;
  }
  .gradient-text1 {
    font-size: 25px;
  } */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {
    font-size: 60px;
  }
  .gradient-text4 {
    font-size: 75px;
  }
  .gradient-text3 {
    font-size: 60px;
  }
  .gradient-text2 {
    font-size: 60px;
  }
  .gradient-text1 {
    font-size: 60px;
  }
  .gradient-text {
    font-size: 60px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    font-size: 65px;
  }
  .gradient-text4 {
    font-size: 80px;
  }
  .gradient-text3 {
    font-size: 65px;
  }
  .gradient-text2 {
    font-size: 65px;
  }
  .gradient-text1 {
    font-size: 65px;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header {
    font-size: 50px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
}
